@model Engineer_MVC.Models.ViewModels.TrainingsListsViewModel
<main>
    <div class="row">
        <div class="col-md-3 d-flex align-items-center">
            <div class="navigation-container">
                <h2 class="navigation-header">@sharedResource["Navigation"]</h2>
                <div class="navigation-links">
                    <a asp-action="Index" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["PersonalData"]</a>
                    <a asp-action="Stats" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["Stats"]</a>
                    <a asp-action="Calendar" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["Calendar"]</a>
                    <a asp-action="AppointmentsList" class="navigation-link" asp-route-userId="@ViewBag.UserId"> @sharedResource["AppointmentsList"]</a>
                    <a asp-action="TrainingsList" class="navigation-link active" asp-route-userId="@ViewBag.UserId"> @sharedResource["TrainingsList"]</a>
                    <a asp-action="Roles" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["ChangeRoles"]</a>
                    <a asp-action="Delete" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["DeleteAccount"]</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <div class="mt-4">
                    <div class="treatment-table accordion" id="treatment-table">
                        @foreach (var training in Model.TrainingsToDoNullList)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <div class="treatment-item-header row">
                                        <div class="col-9 row mx-0" data-bs-toggle="collapse" data-bs-target="#treatment-@training.Id">
                                            <div class="col-3">
                                                <svg class="treatment-item-arrow me-3" xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
                                                    <path d="M1.74561 2L7.25549 7.62882L12.7654 2" fill="#FFE8E8" />
                                                    <path d="M1.74561 2L7.25549 7.62882L12.7654 2" stroke="#9E7777" stroke-width="1.5" stroke-linecap="square" />
                                                    <path d="M1.74561 10.0412L7.25549 15.67L12.7654 10.0412" fill="#FFE8E8" />
                                                    <path d="M1.74561 10.0412L7.25549 15.67L12.7654 10.0412" stroke="#9E7777" stroke-width="1.5" stroke-linecap="square" />
                                                </svg> @sharedResource[training.Treatment.Type]
                                            </div>
                                            <div class="col-auto">@sharedResource[training.Treatment.Name]</div>
                                            <div class="col-5 ms-auto">@training.Date.ToString("dd.MM.yyyy HH:mm") - @training.EndTime.ToString("HH:mm")</div>
                                        </div>
                                        <div class="col-3 row justify-content-end">
                                            <div class="col-auto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none" data-bs-toggle="modal" data-bs-target="#treatmentModal-@training.Id" onclick="ResetSelects('@training.Id', '@training.Treatment.Type', '@training.Treatment.Name','@training.EmployeeId')">
                                                    <path d="M1.43311 9.5193C1.43311 4.81422 5.44483 1 10.3935 1C15.3423 1 19.3539 4.81422 19.3539 9.5193C19.3539 14.2244 15.3423 18.0386 10.3935 18.0386C5.44483 18.0386 1.43311 14.2244 1.43311 9.5193Z" fill="#FFE8E8" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M7.6123 6.87537L13.1739 12.1632L7.6123 6.87537Z" fill="#FFE8E8" />
                                                    <path d="M7.6123 6.87537L13.1739 12.1632" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M13.1739 6.87537L7.6123 12.1632L13.1739 6.87537Z" fill="#FFE8E8" />
                                                    <path d="M13.1739 6.87537L7.6123 12.1632" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </div>
                                            <div class="col-8 d-flex justify-content-end">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                                    <rect width="21.0833" height="20" transform="translate(0.524414)" fill="#FFE8E8" />
                                                    <path d="M20.5244 8.27365C20.5155 8.48563 20.4035 8.72773 20.186 8.91893C19.3154 9.6837 18.4444 10.4478 17.5728 11.2111C17.1659 11.5682 16.7584 11.9247 16.3504 12.2806C16.2921 12.3313 16.2773 12.3762 16.2952 12.4548C16.6084 13.8236 16.9191 15.193 17.2272 16.5629C17.2896 16.8382 17.351 17.114 17.4184 17.3883C17.5167 17.7946 17.3912 18.1961 17.0745 18.4234C16.7261 18.6734 16.3561 18.6896 15.9878 18.4712C14.8147 17.7738 13.6431 17.0737 12.473 16.3707C12.1998 16.2075 11.9233 16.0481 11.6547 15.8789C11.5648 15.8222 11.4996 15.8217 11.4073 15.8772C9.98435 16.7313 8.55828 17.5802 7.13699 18.4342C6.83515 18.6153 6.52685 18.6834 6.19321 18.5465C5.75179 18.3653 5.52117 17.9012 5.63086 17.4189C5.94108 16.0538 6.25177 14.6887 6.56293 13.3236C6.62842 13.0368 6.68697 12.7478 6.75795 12.4632C6.7785 12.381 6.76417 12.3325 6.70179 12.2782C6.16708 11.8131 5.63373 11.3465 5.10174 10.8782C4.35632 10.2238 3.60803 9.574 2.86692 8.91486C2.56435 8.64624 2.44964 8.30328 2.57368 7.9111C2.69771 7.51891 2.97494 7.28279 3.3884 7.24024C4.12115 7.1652 4.8551 7.10235 5.58856 7.03519C6.31414 6.96875 7.03972 6.90279 7.7653 6.8373C8.00716 6.81556 8.24902 6.79118 8.49112 6.77278C8.56904 6.76704 8.61062 6.73286 8.63978 6.66188C9.29701 5.11752 9.95535 3.57378 10.6148 2.03069C10.7969 1.60409 11.1222 1.36582 11.5356 1.37657C11.9491 1.38732 12.2474 1.58927 12.4113 1.96903C12.8575 3.00219 13.298 4.03775 13.7403 5.07282C13.9655 5.59861 14.1911 6.12582 14.4124 6.654C14.4463 6.73525 14.4948 6.7668 14.5797 6.77349C15.1628 6.82288 15.7458 6.87467 16.3286 6.92884C17.1772 7.00595 18.0257 7.0837 18.8741 7.16209C19.1437 7.18599 19.4135 7.20989 19.6824 7.24001C20.1714 7.29784 20.5282 7.7058 20.5244 8.27365Z" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                                    <rect width="21.0833" height="20" transform="translate(0.524414)" fill="#FFE8E8" />
                                                    <path d="M20.5244 8.27365C20.5155 8.48563 20.4035 8.72773 20.186 8.91893C19.3154 9.6837 18.4444 10.4478 17.5728 11.2111C17.1659 11.5682 16.7584 11.9247 16.3504 12.2806C16.2921 12.3313 16.2773 12.3762 16.2952 12.4548C16.6084 13.8236 16.9191 15.193 17.2272 16.5629C17.2896 16.8382 17.351 17.114 17.4184 17.3883C17.5167 17.7946 17.3912 18.1961 17.0745 18.4234C16.7261 18.6734 16.3561 18.6896 15.9878 18.4712C14.8147 17.7738 13.6431 17.0737 12.473 16.3707C12.1998 16.2075 11.9233 16.0481 11.6547 15.8789C11.5648 15.8222 11.4996 15.8217 11.4073 15.8772C9.98435 16.7313 8.55828 17.5802 7.13699 18.4342C6.83515 18.6153 6.52685 18.6834 6.19321 18.5465C5.75179 18.3653 5.52117 17.9012 5.63086 17.4189C5.94108 16.0538 6.25177 14.6887 6.56293 13.3236C6.62842 13.0368 6.68697 12.7478 6.75795 12.4632C6.7785 12.381 6.76417 12.3325 6.70179 12.2782C6.16708 11.8131 5.63373 11.3465 5.10174 10.8782C4.35632 10.2238 3.60803 9.574 2.86692 8.91486C2.56435 8.64624 2.44964 8.30328 2.57368 7.9111C2.69771 7.51891 2.97494 7.28279 3.3884 7.24024C4.12115 7.1652 4.8551 7.10235 5.58856 7.03519C6.31414 6.96875 7.03972 6.90279 7.7653 6.8373C8.00716 6.81556 8.24902 6.79118 8.49112 6.77278C8.56904 6.76704 8.61062 6.73286 8.63978 6.66188C9.29701 5.11752 9.95535 3.57378 10.6148 2.03069C10.7969 1.60409 11.1222 1.36582 11.5356 1.37657C11.9491 1.38732 12.2474 1.58927 12.4113 1.96903C12.8575 3.00219 13.298 4.03775 13.7403 5.07282C13.9655 5.59861 14.1911 6.12582 14.4124 6.654C14.4463 6.73525 14.4948 6.7668 14.5797 6.77349C15.1628 6.82288 15.7458 6.87467 16.3286 6.92884C17.1772 7.00595 18.0257 7.0837 18.8741 7.16209C19.1437 7.18599 19.4135 7.20989 19.6824 7.24001C20.1714 7.29784 20.5282 7.7058 20.5244 8.27365Z" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                                    <rect width="21.0833" height="20" transform="translate(0.524414)" fill="#FFE8E8" />
                                                    <path d="M20.5244 8.27365C20.5155 8.48563 20.4035 8.72773 20.186 8.91893C19.3154 9.6837 18.4444 10.4478 17.5728 11.2111C17.1659 11.5682 16.7584 11.9247 16.3504 12.2806C16.2921 12.3313 16.2773 12.3762 16.2952 12.4548C16.6084 13.8236 16.9191 15.193 17.2272 16.5629C17.2896 16.8382 17.351 17.114 17.4184 17.3883C17.5167 17.7946 17.3912 18.1961 17.0745 18.4234C16.7261 18.6734 16.3561 18.6896 15.9878 18.4712C14.8147 17.7738 13.6431 17.0737 12.473 16.3707C12.1998 16.2075 11.9233 16.0481 11.6547 15.8789C11.5648 15.8222 11.4996 15.8217 11.4073 15.8772C9.98435 16.7313 8.55828 17.5802 7.13699 18.4342C6.83515 18.6153 6.52685 18.6834 6.19321 18.5465C5.75179 18.3653 5.52117 17.9012 5.63086 17.4189C5.94108 16.0538 6.25177 14.6887 6.56293 13.3236C6.62842 13.0368 6.68697 12.7478 6.75795 12.4632C6.7785 12.381 6.76417 12.3325 6.70179 12.2782C6.16708 11.8131 5.63373 11.3465 5.10174 10.8782C4.35632 10.2238 3.60803 9.574 2.86692 8.91486C2.56435 8.64624 2.44964 8.30328 2.57368 7.9111C2.69771 7.51891 2.97494 7.28279 3.3884 7.24024C4.12115 7.1652 4.8551 7.10235 5.58856 7.03519C6.31414 6.96875 7.03972 6.90279 7.7653 6.8373C8.00716 6.81556 8.24902 6.79118 8.49112 6.77278C8.56904 6.76704 8.61062 6.73286 8.63978 6.66188C9.29701 5.11752 9.95535 3.57378 10.6148 2.03069C10.7969 1.60409 11.1222 1.36582 11.5356 1.37657C11.9491 1.38732 12.2474 1.58927 12.4113 1.96903C12.8575 3.00219 13.298 4.03775 13.7403 5.07282C13.9655 5.59861 14.1911 6.12582 14.4124 6.654C14.4463 6.73525 14.4948 6.7668 14.5797 6.77349C15.1628 6.82288 15.7458 6.87467 16.3286 6.92884C17.1772 7.00595 18.0257 7.0837 18.8741 7.16209C19.1437 7.18599 19.4135 7.20989 19.6824 7.24001C20.1714 7.29784 20.5282 7.7058 20.5244 8.27365Z" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                                    <rect width="21.0833" height="20" transform="translate(0.524414)" fill="#FFE8E8" />
                                                    <path d="M20.5244 8.27365C20.5155 8.48563 20.4035 8.72773 20.186 8.91893C19.3154 9.6837 18.4444 10.4478 17.5728 11.2111C17.1659 11.5682 16.7584 11.9247 16.3504 12.2806C16.2921 12.3313 16.2773 12.3762 16.2952 12.4548C16.6084 13.8236 16.9191 15.193 17.2272 16.5629C17.2896 16.8382 17.351 17.114 17.4184 17.3883C17.5167 17.7946 17.3912 18.1961 17.0745 18.4234C16.7261 18.6734 16.3561 18.6896 15.9878 18.4712C14.8147 17.7738 13.6431 17.0737 12.473 16.3707C12.1998 16.2075 11.9233 16.0481 11.6547 15.8789C11.5648 15.8222 11.4996 15.8217 11.4073 15.8772C9.98435 16.7313 8.55828 17.5802 7.13699 18.4342C6.83515 18.6153 6.52685 18.6834 6.19321 18.5465C5.75179 18.3653 5.52117 17.9012 5.63086 17.4189C5.94108 16.0538 6.25177 14.6887 6.56293 13.3236C6.62842 13.0368 6.68697 12.7478 6.75795 12.4632C6.7785 12.381 6.76417 12.3325 6.70179 12.2782C6.16708 11.8131 5.63373 11.3465 5.10174 10.8782C4.35632 10.2238 3.60803 9.574 2.86692 8.91486C2.56435 8.64624 2.44964 8.30328 2.57368 7.9111C2.69771 7.51891 2.97494 7.28279 3.3884 7.24024C4.12115 7.1652 4.8551 7.10235 5.58856 7.03519C6.31414 6.96875 7.03972 6.90279 7.7653 6.8373C8.00716 6.81556 8.24902 6.79118 8.49112 6.77278C8.56904 6.76704 8.61062 6.73286 8.63978 6.66188C9.29701 5.11752 9.95535 3.57378 10.6148 2.03069C10.7969 1.60409 11.1222 1.36582 11.5356 1.37657C11.9491 1.38732 12.2474 1.58927 12.4113 1.96903C12.8575 3.00219 13.298 4.03775 13.7403 5.07282C13.9655 5.59861 14.1911 6.12582 14.4124 6.654C14.4463 6.73525 14.4948 6.7668 14.5797 6.77349C15.1628 6.82288 15.7458 6.87467 16.3286 6.92884C17.1772 7.00595 18.0257 7.0837 18.8741 7.16209C19.1437 7.18599 19.4135 7.20989 19.6824 7.24001C20.1714 7.29784 20.5282 7.7058 20.5244 8.27365Z" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none">
                                                    <rect width="21.0833" height="20" transform="translate(0.524414)" fill="#FFE8E8" />
                                                    <path d="M20.5244 8.27365C20.5155 8.48563 20.4035 8.72773 20.186 8.91893C19.3154 9.6837 18.4444 10.4478 17.5728 11.2111C17.1659 11.5682 16.7584 11.9247 16.3504 12.2806C16.2921 12.3313 16.2773 12.3762 16.2952 12.4548C16.6084 13.8236 16.9191 15.193 17.2272 16.5629C17.2896 16.8382 17.351 17.114 17.4184 17.3883C17.5167 17.7946 17.3912 18.1961 17.0745 18.4234C16.7261 18.6734 16.3561 18.6896 15.9878 18.4712C14.8147 17.7738 13.6431 17.0737 12.473 16.3707C12.1998 16.2075 11.9233 16.0481 11.6547 15.8789C11.5648 15.8222 11.4996 15.8217 11.4073 15.8772C9.98435 16.7313 8.55828 17.5802 7.13699 18.4342C6.83515 18.6153 6.52685 18.6834 6.19321 18.5465C5.75179 18.3653 5.52117 17.9012 5.63086 17.4189C5.94108 16.0538 6.25177 14.6887 6.56293 13.3236C6.62842 13.0368 6.68697 12.7478 6.75795 12.4632C6.7785 12.381 6.76417 12.3325 6.70179 12.2782C6.16708 11.8131 5.63373 11.3465 5.10174 10.8782C4.35632 10.2238 3.60803 9.574 2.86692 8.91486C2.56435 8.64624 2.44964 8.30328 2.57368 7.9111C2.69771 7.51891 2.97494 7.28279 3.3884 7.24024C4.12115 7.1652 4.8551 7.10235 5.58856 7.03519C6.31414 6.96875 7.03972 6.90279 7.7653 6.8373C8.00716 6.81556 8.24902 6.79118 8.49112 6.77278C8.56904 6.76704 8.61062 6.73286 8.63978 6.66188C9.29701 5.11752 9.95535 3.57378 10.6148 2.03069C10.7969 1.60409 11.1222 1.36582 11.5356 1.37657C11.9491 1.38732 12.2474 1.58927 12.4113 1.96903C12.8575 3.00219 13.298 4.03775 13.7403 5.07282C13.9655 5.59861 14.1911 6.12582 14.4124 6.654C14.4463 6.73525 14.4948 6.7668 14.5797 6.77349C15.1628 6.82288 15.7458 6.87467 16.3286 6.92884C17.1772 7.00595 18.0257 7.0837 18.8741 7.16209C19.1437 7.18599 19.4135 7.20989 19.6824 7.24001C20.1714 7.29784 20.5282 7.7058 20.5244 8.27365Z" stroke="#9E7777" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                        </div>


                                    </div>
                                </h2>
                                <div id="treatment-@training.Id" class="accordion-collapse collapse" data-bs-parent="#treatment-table">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img class="me-2" width="17" height="20" viewBox="0 0 17 20" src="~/ProfileImages/@(training.Employee?.ImagePath ?? "default.jpg")" )>
                                                        @sharedResource["Employee"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Employee?.FullName
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" style="margin-left:4px;" xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                                                            <path d="M9.053 3.85988C9.053 5.40246 7.80244 6.65298 6.2599 6.65298C4.71736 6.65298 3.4668 5.40246 3.4668 3.85988C3.4668 2.31729 4.71736 1.06677 6.2599 1.06677C7.80244 1.06677 9.053 2.31729 9.053 3.85988Z" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                            <path d="M6.26024 7.27368C2.03955 7.27368 0.984375 9.4461 0.984375 12.8599H3.46713V16.584C3.46713 17.9553 3.46713 19.0668 3.46713 19.0668H9.05334C9.05334 19.0668 9.05334 17.9553 9.05334 16.584V12.8599H11.5361C11.5361 9.4461 10.4809 7.27368 6.26024 7.27368Z" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                        </svg>
                                                        @sharedResource["Participants"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @(training.Users?.Count() ?? 0)  / @training.UsersNumber
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21 19" fill="none">
                                                            <path d="M10.4892 18C15.4379 18 19.4496 14.1944 19.4496 9.5C19.4496 4.80558 15.4379 1 10.4892 1C5.54052 1 1.52881 4.80558 1.52881 9.5C1.52881 14.1944 5.54052 18 10.4892 18Z" stroke="#631E1E" stroke-width="1.5" />
                                                            <path d="M10.4893 4.81036V9.50002L12.9611 11.8448" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                        </svg>
                                                        @sharedResource["Duration"]

                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Duration min
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20" fill="none">
                                                            <path d="M15.3777 3.48279H5.07234C3.17516 3.48279 1.63721 4.94172 1.63721 6.74141C1.63721 8.54104 3.17516 10 5.07234 10H11.9426C13.8397 10 15.3777 11.459 15.3777 13.2587C15.3777 15.0583 13.8397 16.5173 11.9426 16.5173H1.63721" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                            <path d="M8.18018 19V1" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        </svg>
                                                        @sharedResource["Cost"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Price Euro
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <a asp-controller="Treatments" asp-action="@training.Treatment.Type" class="button btn btn-info">@sharedResource["InfoAppointment"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        }
                    </div>
                </div>
                <div class="mt-4">
                    <div class="treatment-table accordion" id="treatment-table">
                        @foreach (var training in Model.TrainingsDoneNullList)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <div class="treatment-item-header row">
                                        <div class="col-9 row mx-0" data-bs-toggle="collapse" data-bs-target="#treatment-@training.Id">
                                            <div class="col-3">
                                                <svg class="treatment-item-arrow me-3" xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
                                                    <path d="M1.74561 2L7.25549 7.62882L12.7654 2" fill="#FFE8E8" />
                                                    <path d="M1.74561 2L7.25549 7.62882L12.7654 2" stroke="#9E7777" stroke-width="1.5" stroke-linecap="square" />
                                                    <path d="M1.74561 10.0412L7.25549 15.67L12.7654 10.0412" fill="#FFE8E8" />
                                                    <path d="M1.74561 10.0412L7.25549 15.67L12.7654 10.0412" stroke="#9E7777" stroke-width="1.5" stroke-linecap="square" />
                                                </svg> @sharedResource[training.Treatment.Type]
                                            </div>
                                            <div class="col-auto">@sharedResource[training.Treatment.Name]</div>
                                            <div class="col-5 ms-auto">@training.Date.ToString("dd.MM.yyyy HH:mm") - @training.EndTime.ToString("HH:mm")</div>
                                        </div>
                                        <div class="col-3 row justify-content-end">
                                            <div class="col-auto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                                                    <path d="M1.43311 9.5193C1.43311 4.81422 5.44483 1 10.3935 1C15.3423 1 19.3539 4.81422 19.3539 9.5193C19.3539 14.2244 15.3423 18.0386 10.3935 18.0386C5.44483 18.0386 1.43311 14.2244 1.43311 9.5193Z" stroke="#679E76" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M7.51367 10.9859L9.61164 12.1497L13.2739 7.34302" stroke="#679E76" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>

                                            <div class="col-8 d-flex justify-content-end stars-container" data-treatment-id="@training.Id">
                                                <svg class="star1" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="1">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star2" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="2">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star3" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="3">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star4" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="4">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star5" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="5">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>

                                        </div>


                                    </div>
                                </h2>
                                <div id="treatment-@training.Id" class="accordion-collapse collapse" data-bs-parent="#treatment-table">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img class="me-2" width="17" height="20" viewBox="0 0 17 20" src="~/ProfileImages/@(training.Employee?.ImagePath ?? "default.jpg")" )>
                                                        @sharedResource["Employee"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Employee?.FullName
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" style="margin-left:4px;" xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                                                            <path d="M9.053 3.85988C9.053 5.40246 7.80244 6.65298 6.2599 6.65298C4.71736 6.65298 3.4668 5.40246 3.4668 3.85988C3.4668 2.31729 4.71736 1.06677 6.2599 1.06677C7.80244 1.06677 9.053 2.31729 9.053 3.85988Z" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                            <path d="M6.26024 7.27368C2.03955 7.27368 0.984375 9.4461 0.984375 12.8599H3.46713V16.584C3.46713 17.9553 3.46713 19.0668 3.46713 19.0668H9.05334C9.05334 19.0668 9.05334 17.9553 9.05334 16.584V12.8599H11.5361C11.5361 9.4461 10.4809 7.27368 6.26024 7.27368Z" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                        </svg>
                                                        @sharedResource["Participants"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @(training.Users?.Count() ?? 0)  / @training.UsersNumber
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21 19" fill="none">
                                                            <path d="M10.4892 18C15.4379 18 19.4496 14.1944 19.4496 9.5C19.4496 4.80558 15.4379 1 10.4892 1C5.54052 1 1.52881 4.80558 1.52881 9.5C1.52881 14.1944 5.54052 18 10.4892 18Z" stroke="#631E1E" stroke-width="1.5" />
                                                            <path d="M10.4893 4.81036V9.50002L12.9611 11.8448" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                        </svg>
                                                        @sharedResource["Duration"]

                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Duration min
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20" fill="none">
                                                            <path d="M15.3777 3.48279H5.07234C3.17516 3.48279 1.63721 4.94172 1.63721 6.74141C1.63721 8.54104 3.17516 10 5.07234 10H11.9426C13.8397 10 15.3777 11.459 15.3777 13.2587C15.3777 15.0583 13.8397 16.5173 11.9426 16.5173H1.63721" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                            <path d="M8.18018 19V1" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        </svg>
                                                        @sharedResource["Cost"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Price Euro
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <a asp-controller="Treatments" asp-action="@training.Treatment.Type" class="button btn btn-info">@sharedResource["InfoAppointment"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="confirmationModal" class="modal" tabindex="-1" aria-labelledby="exampleModalLabel " aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">@sharedResource["RateAppointment"]</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>@sharedResource["GiveRatingAppointment"] <span id="starsCountPlaceholder"></span> @sharedResource["ForAppointment"]</p>
                                            <button id="saveButton">@sharedResource["Confirm"]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="mt-4">
                    <div class="treatment-table accordion" id="treatment-table-load">
                        @foreach (var training in Model.TrainingsDoneList.Take(10))
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <div class="treatment-item-header row">
                                        <div class="col-9 row mx-0" data-bs-toggle="collapse" data-bs-target="#treatment-@training.Id">
                                            <div class="col-3">
                                                <svg class="treatment-item-arrow me-3" xmlns="http://www.w3.org/2000/svg" width="14" height="17" viewBox="0 0 14 17" fill="none">
                                                    <path d="M1.74561 2L7.25549 7.62882L12.7654 2" fill="#FFE8E8" />
                                                    <path d="M1.74561 2L7.25549 7.62882L12.7654 2" stroke="#9E7777" stroke-width="1.5" stroke-linecap="square" />
                                                    <path d="M1.74561 10.0412L7.25549 15.67L12.7654 10.0412" fill="#FFE8E8" />
                                                    <path d="M1.74561 10.0412L7.25549 15.67L12.7654 10.0412" stroke="#9E7777" stroke-width="1.5" stroke-linecap="square" />
                                                </svg> @sharedResource[training.Treatment.Type]
                                            </div>
                                            <div class="col-auto">@sharedResource[training.Treatment.Name]</div>
                                            <div class="col-5 ms-auto">@training.Date.ToString("dd.MM.yyyy HH:mm") - @training.EndTime.ToString("HH:mm")</div>
                                        </div>
                                        <div class="col-3 row justify-content-end">
                                            <div class="col-auto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                                                    <path d="M1.43311 9.5193C1.43311 4.81422 5.44483 1 10.3935 1C15.3423 1 19.3539 4.81422 19.3539 9.5193C19.3539 14.2244 15.3423 18.0386 10.3935 18.0386C5.44483 18.0386 1.43311 14.2244 1.43311 9.5193Z" stroke="#679E76" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M7.51367 10.9859L9.61164 12.1497L13.2739 7.34302" stroke="#679E76" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                            <div class="col-8 d-flex justify-content-end filled-stars-container" data-treatment-id="@training.Id">
                                                <svg class="star1" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="1">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star2" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="2">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star3" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="3">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star4" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="4">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg><svg class="star5" xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" data-stars="5">
                                                    <rect width="21.0833" height="20" transform="translate(0.35791)" fill="#FFE8E8" />
                                                    <path d="M20.3579 8.27365C20.349 8.48563 20.2369 8.72773 20.0195 8.91893C19.1489 9.6837 18.2779 10.4478 17.4063 11.2111C16.9994 11.5682 16.5919 11.9247 16.1839 12.2806C16.1256 12.3313 16.1107 12.3762 16.1287 12.4548C16.4419 13.8236 16.7526 15.193 17.0607 16.5629C17.1231 16.8382 17.1845 17.114 17.2519 17.3883C17.3502 17.7946 17.2247 18.1961 16.908 18.4234C16.5596 18.6734 16.1896 18.6896 15.8213 18.4712C14.6482 17.7738 13.4766 17.0737 12.3065 16.3707C12.0333 16.2075 11.7568 16.0481 11.4882 15.8789C11.3983 15.8222 11.3331 15.8217 11.2408 15.8772C9.81784 16.7313 8.39178 17.5802 6.97049 18.4342C6.66864 18.6153 6.36034 18.6834 6.02671 18.5465C5.58529 18.3653 5.35466 17.9012 5.46436 17.4189C5.77457 16.0538 6.08526 14.6887 6.39643 13.3236C6.46191 13.0368 6.52047 12.7478 6.59145 12.4632C6.612 12.381 6.59766 12.3325 6.53528 12.2782C6.00058 11.8131 5.46723 11.3465 4.93523 10.8782C4.18981 10.2238 3.44153 9.574 2.70041 8.91486C2.39785 8.64624 2.28313 8.30328 2.40717 7.9111C2.53121 7.51891 2.80844 7.28279 3.2219 7.24024C3.95465 7.1652 4.68859 7.10235 5.42206 7.03519C6.14764 6.96875 6.87322 6.90279 7.5988 6.8373C7.84066 6.81556 8.08252 6.79118 8.32462 6.77278C8.40253 6.76704 8.44412 6.73286 8.47327 6.66188C9.1305 5.11752 9.78885 3.57378 10.4483 2.03069C10.6304 1.60409 10.9557 1.36582 11.3691 1.37657C11.7826 1.38732 12.0809 1.58927 12.2448 1.96903C12.691 3.00219 13.1315 4.03775 13.5738 5.07282C13.799 5.59861 14.0246 6.12582 14.2459 6.654C14.2798 6.73525 14.3283 6.7668 14.4132 6.77349C14.9963 6.82288 15.5793 6.87467 16.1621 6.92884C17.0107 7.00595 17.8592 7.0837 18.7076 7.16209C18.9772 7.18599 19.247 7.20989 19.5159 7.24001C20.0049 7.29784 20.3617 7.7058 20.3579 8.27365Z" stroke="#E5B32F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>


                                        </div>


                                    </div>
                                </h2>
                                <div id="treatment-@training.Id" class="accordion-collapse collapse" data-bs-parent="#treatment-table">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <img class="me-2" width="17" height="20" viewBox="0 0 17 20" src="~/ProfileImages/@(training.Employee?.ImagePath ?? "default.jpg")" )>
                                                        @sharedResource["Employee"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Employee?.FullName
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" style="margin-left:4px;" xmlns="http://www.w3.org/2000/svg" width="13" height="20" viewBox="0 0 13 20" fill="none">
                                                            <path d="M9.053 3.85988C9.053 5.40246 7.80244 6.65298 6.2599 6.65298C4.71736 6.65298 3.4668 5.40246 3.4668 3.85988C3.4668 2.31729 4.71736 1.06677 6.2599 1.06677C7.80244 1.06677 9.053 2.31729 9.053 3.85988Z" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                            <path d="M6.26024 7.27368C2.03955 7.27368 0.984375 9.4461 0.984375 12.8599H3.46713V16.584C3.46713 17.9553 3.46713 19.0668 3.46713 19.0668H9.05334C9.05334 19.0668 9.05334 17.9553 9.05334 16.584V12.8599H11.5361C11.5361 9.4461 10.4809 7.27368 6.26024 7.27368Z" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                        </svg>
                                                        @sharedResource["Participants"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @(training.Users?.Count() ?? 0)  / @training.UsersNumber
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21 19" fill="none">
                                                            <path d="M10.4892 18C15.4379 18 19.4496 14.1944 19.4496 9.5C19.4496 4.80558 15.4379 1 10.4892 1C5.54052 1 1.52881 4.80558 1.52881 9.5C1.52881 14.1944 5.54052 18 10.4892 18Z" stroke="#631E1E" stroke-width="1.5" />
                                                            <path d="M10.4893 4.81036V9.50002L12.9611 11.8448" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" />
                                                        </svg>
                                                        @sharedResource["Duration"]

                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Duration min
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="17" height="20" viewBox="0 0 17 20" fill="none">
                                                            <path d="M15.3777 3.48279H5.07234C3.17516 3.48279 1.63721 4.94172 1.63721 6.74141C1.63721 8.54104 3.17516 10 5.07234 10H11.9426C13.8397 10 15.3777 11.459 15.3777 13.2587C15.3777 15.0583 13.8397 16.5173 11.9426 16.5173H1.63721" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                            <path d="M8.18018 19V1" stroke="#631E1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                        </svg>
                                                        @sharedResource["Cost"]
                                                    </div>
                                                    <div class="col-auto">
                                                        @training.Price Euro
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <a asp-controller="Treatments" asp-action="Details" asp-route-id="@training.Id" class="button btn btn-info">@sharedResource["InfoAppointment"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        @Html.Partial("_TrainingsPartial", new List<Training>())
                    </div>
                </div>
            </div>
            <div class="button-container mt-4">
                <button id="load-more-button" class="button btn btn-info">@sharedResource["LoadMoreTrainings"]</button>
            </div>
        </div>
    </div>
    <script>
        filledstars();
        function filledstars() {
            const filledstars = document.querySelectorAll('.filled-stars-container');
            for (let x = 0; x < filledstars.length; x++) {
                const stars = filledstars[x].querySelectorAll('svg');
                const treatmentId = filledstars[x].dataset.treatmentId;

                $.ajax({
                    type: 'GET',
                    url: '/Trainings/GetAverageRating',
                    data: {
                        treatmentId: treatmentId
                    },
                    dataType: 'json',
                    success: function (data) {
                        const rating = data.averageRating;
                        const starsCount = rating;
                        for (let z = 0; z < starsCount; z++) {
                            stars[z].classList.add('active');
                        }
                    },
                    error: function (error) {
                        console.error('Error getting average rating:', error);
                    }
                });
            }
        }

        let skip = 10;
        let userId = '@ViewBag.UserId';
        console.log(userId);
        document.getElementById('load-more-button').addEventListener('click', function () {
            loadTrainings(skip, userId);
        });

        function loadTrainings(skip, userId) {
            $.ajax({
                url: '/UserInAdmin/LoadTrainings',
                type: 'GET',
                data: {
                    skip: skip,
                    userId: userId
                },
                success: function (data) {

                    $('#treatment-table-load').append(data);
                    skip += 10;

                    skipAppointments(skip);
                    filledstars();
                }
            });
        }
        function skipAppointments(updatedSkip) {
            skip = updatedSkip;
        }
    </script>
</main>
