<main class="treatment-info-view">
    <div class="row treatment-name-container mt-5">
        <a class="treatment-name">@sharedResource["NailsTreatment"]</a>
    </div>
    <div class="row treament-motto-container">
        <a class="treament-motto">@sharedResource["NailsTitle"]</a>
    </div>
    <div class="row treatment-container mt-5">
        <div class="col-md-6 treatment-img-left" style="background-image:url('/FrontImages/classicmanicure.jpg')">
        </div>
        <div class="col-md-6 treatment-info pe-4">
            <div class="offset-2">
                <div class="what-includes-container mt-5">
                    <a class="what-includes-text">@sharedResource["WhatIsIt"]</a>
                </div>
                <div class="name-of-treatment-container mt-1">
                    <a class="name-of-treatment-text">@sharedResource["Classic"]</a>
                </div>
                <div class="treatment-description-container mt-1">
                    <a class=treatment-description-text>@sharedResource["ClassicDesc"]</a> 
                </div>
                <div class="our-methodology-container mt-3">
                    <a class="our-methodology-text">@sharedResource["ImportantInformation"]</a>
                </div>

                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["TreatmentDuration"]</a>
                        </div>
                        <div class="methodology-description-container">
                            <a class="methodology-description-text">@sharedResource["Average30minutes"]</a> 
                        </div>
                    </div>
                </div>
                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["BeforeTreatment"]</a>
                        </div>
                        <div class="methodology-description-container mb-3">
                            <a class="methodology-description-text">@sharedResource["NothingPrepare"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row treatment-container mt-5">

        <div class="col-md-6 treatment-info pe-4">
            <div class="offset-2">
                <div class="what-includes-container mt-5">
                    <a class="what-includes-text">@sharedResource["WhatIsIt"]</a>
                </div>
                <div class="name-of-treatment-container mt-1">
                    <a class="name-of-treatment-text">@sharedResource["Hybrid"]</a>
                </div>
                <div class="treatment-description-container mt-1">
                    <a class=treatment-description-text>@sharedResource["HybridDesc"]</a>
                </div>
                <div class="our-methodology-container mt-3">
                    <a class="our-methodology-text">@sharedResource["ImportantInformation"]</a>
                </div>

                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["TreatmentDuration"]</a>
                        </div>
                        <div class="methodology-description-container">
                            <a class="methodology-description-text">@sharedResource["Average1hour"]</a>
                        </div>
                    </div>
                </div>
                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["BeforeTreatment"]</a>
                        </div>
                        <div class="methodology-description-container mb-3">
                            <a class="methodology-description-text">@sharedResource["NothingPrepare"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 treatment-img-right" style=" background-image:url('/FrontImages/hibridmanicure.jpg')">
        </div>
    </div>
    <div class="row treatment-container mt-5">
        <div class="col-md-6 treatment-img-left" style="background-image:url('/FrontImages/gelmanicure.jpg'); background-position:center;">
        </div>
        <div class="col-md-6 treatment-info pe-4">
            <div class="offset-2">
                <div class="what-includes-container mt-5">
                    <a class="what-includes-text">@sharedResource["WhatIsIt"]</a>
                </div>
                <div class="name-of-treatment-container mt-1">
                    <a class="name-of-treatment-text">@sharedResource["Gel"]</a>
                </div>
                <div class="treatment-description-container mt-1">
                    <a class=treatment-description-text>@sharedResource["GelDesc"]</a> 
                </div>
                <div class="our-methodology-container mt-3">
                    <a class="our-methodology-text">@sharedResource["ImportantInformation"]</a>
                </div>

                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["TreatmentDuration"]</a>
                        </div>
                        <div class="methodology-description-container">
                            <a class="methodology-description-text">@sharedResource["Average1hour"]</a>
                        </div>
                    </div>
                </div>
                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["BeforeTreatment"]</a>
                        </div>
                        <div class="methodology-description-container mb-3">
                            <a class="methodology-description-text">@sharedResource["NothingPrepare"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row treatment-container mt-5">

        <div class="col-md-6 treatment-info pe-4">
            <div class="offset-2">
                <div class="what-includes-container mt-5">
                    <a class="what-includes-text">@sharedResource["WhatIsIt"]</a>
                </div>
                <div class="name-of-treatment-container mt-1">
                    <a class="name-of-treatment-text">@sharedResource["Male"]</a>
                </div>
                <div class="treatment-description-container mt-1">
                    <a class=treatment-description-text>@sharedResource["MaleDesc"]</a>
                </div>
                <div class="our-methodology-container mt-3">
                    <a class="our-methodology-text">@sharedResource["ImportantInformation"]</a>
                </div>

                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["TreatmentDuration"]</a>
                        </div>
                        <div class="methodology-description-container">
                            <a class="methodology-description-text">@sharedResource["Average30minutes"]</a>
                        </div>
                    </div>
                </div>
                <div class="row methodology-container mt-3">
                    <div class="vector col-1 mt-2">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path id="Vector" d="M34.8333 16.6429V18.1762C34.8313 21.7702 33.6675 25.2673 31.5156 28.1459C29.3636 31.0245 26.3388 33.1303 22.8923 34.1494C19.4457 35.1684 15.7621 35.046 12.3908 33.8005C9.01947 32.555 6.14109 30.253 4.18493 27.238C2.22878 24.2229 1.29965 20.6563 1.53613 17.0701C1.7726 13.4838 3.16201 10.0701 5.49713 7.33799C7.83225 4.6059 10.988 2.70184 14.4936 1.90978C17.9993 1.11772 21.6671 1.4801 24.95 2.94287M34.8337 4.84277L18.167 21.5261L13.167 16.5261" stroke="#7A9CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="methodology-small-container col-11 ps-4">
                        <div class="methodology-title-container">
                            <a class="methodology-title-text">@sharedResource["BeforeTreatment"]</a>
                        </div>
                        <div class="methodology-description-container mb-3">
                            <a class="methodology-description-text">@sharedResource["NothingPrepare"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 treatment-img-right" style="background-image:url('/FrontImages/malemanicure.jpg')">
        </div>
    </div>
</main>