<main class="treatment-list">

    <div class="row mt-5">
        <div class="col-6 px-0 treatment-left-image order-1">
            <img class="background img-fluid" src="/FrontImages/rzęsy_view.jpg" style="" />
            <div class="background-rectangle"></div>
        </div>
        <div class="col-5 px-0 offset-1 order-2 py-4">
            <div class="row">
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Method11"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 20€</span>
                    </div>
                    <div class="text">
                        @sharedResource["Method11Main"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">Wet look</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 25€</span>
                    </div>
                    <div class="text">
                        @sharedResource["WetLookMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">Kim</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 25€</span>
                    </div>
                    <div class="text">
                        @sharedResource["KimMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Lamination"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 35€</span>
                    </div>
                    <div class="text">
                        @sharedResource["LaminationLashesMain"]
                    </div>
                </div>
                <div class="mt-3">
                    <a asp-action="Lashes" class="fancy-button">
                        @sharedResource["MoreAboutLashes"]
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 px-0 offset-1 treatment-left-image order-2">
            <img class="background img-fluid" src="/FrontImages/brwi_view.jpg" style="" />
        </div>
        <div class="col-5 order-1 py-4">
            <div class="row">
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Regulation"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 5€</span>
                    </div>
                    <div class="text">
                        @sharedResource["RegulationMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Paint"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 15€</span>
                    </div>
                    <div class="text">
                        @sharedResource["PaintMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Henna"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 15€</span>
                    </div>
                    <div class="text">
                        @sharedResource["HennaMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Lamination"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 25€</span>
                    </div>
                    <div class="text">
                        @sharedResource["LaminationEyebrowsMain"]
                    </div>
                </div>
                <div class="mt-3">
                    <a asp-action="Eyebrows" class="fancy-button">
                        @sharedResource["MoreAboutEyebrows"]
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 px-0 treatment-left-image order-1">
            <img class="background img-fluid" src="/FrontImages/blue_nails.jpg" style="" />
            <div class="background-rectangle"></div>
        </div>
        <div class="col-5 px-0 offset-1 order-2 py-4">
            <div class="row">
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Classic"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 15€</span>
                    </div>
                    <div class="text">
                        @sharedResource["ClassicMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Hybrid"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 20€</span>
                    </div>
                    <div class="text">
                        @sharedResource["HybridMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Gel"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 20€</span>
                    </div>
                    <div class="text">
                        @sharedResource["GelMain"]
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Male"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 15€</span>
                    </div>
                    <div class="text">
                        @sharedResource["MaleMain"]
                    </div>
                </div>
                <div class="mt-3">
                    <a asp-action="Nails" class="fancy-button">
                        @sharedResource["MoreAboutManicure"]
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 px-0 offset-1 treatment-left-image order-2">
            <img class="background img-fluid" src="/FrontImages/depilacja_view.jpg" style="" />
        </div>
        <div class="col-5 order-1 py-4">
            <div class="row">
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Armpits"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 40€</span>
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Belly"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 70€</span>
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Calves"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 150€</span>
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Legs"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 250€</span>
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["HandsOrFeet"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 40€</span>
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["Hands"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 150€</span>
                    </div>
                </div>
                <hr />
                <div class="treatment-item">
                    <div class="name-and-price row d-flex justify-content-between">
                        <span class="col-auto">@sharedResource["IntimateAreas"]</span>
                        <div class="filler col"></div>
                        <span class="col-auto">@sharedResource["From"] 95€</span>
                    </div>
                </div>
                <div class="mt-3">
                    <a asp-action="Skin" class="fancy-button">
                        @sharedResource["MoreAboutEpilation"]
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>