<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <script src='fullcalendar/core/index.global.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/locales-all.js"></script>
</head>
<main>
    <div class="row">
        <div class="col-md-3 d-flex align-items-center">
            <div class="navigation-container">
                <h2 class="navigation-header">@sharedResource["Navigation"]</h2>
                <div class="navigation-links">
                    <a asp-action="Index" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["PersonalData"]</a>
                    <a asp-action="Stats" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["Stats"]</a>
                    <a asp-action="Calendar" class="navigation-link active" asp-route-userId="@ViewBag.UserId"> @sharedResource["Calendar"]</a>
                    <a asp-action="WorkingHours" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["WorkingHours"]</a>
                    <a asp-action="AppointmentsList" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["AppointmentsList"]</a>
                    <a asp-action="TrainingsList" class="navigation-link" asp-route-userId="@ViewBag.UserId"> @sharedResource["TrainingsList"]</a>
                    <a asp-action="Roles" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["ChangeRoles"]</a>
                    <a asp-action="AddTreatments" class="navigation-link " asp-route-userId="@ViewBag.UserId"> @sharedResource["EditSkills"]</a>
                    <a asp-action="Delete" class="navigation-link " aasp-route-userId="@ViewBag.UserId"> @sharedResource["DeleteAccount"]</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="treatment-selects py-4">
                <div class="tretment-select col-4">
                    <label for="treatmentTypeSelect" class="select-label">@sharedResource["SelectTreatmentType"]</label>
                    <select id="treatmentTypeSelect" class="form-select tretment-select" onchange="updateAppointments('@ViewBag.UserId')">
                        <option value="all">@sharedResource["All"]</option>
                        @foreach (var treatmentType in ViewBag.TreatmentTypes)
                        {
                            <option value="@treatmentType">@treatmentType</option>
                        }
                    </select>
                </div>
                <div class="tretment-select col-4">
                    <label for="treatmentNameSelect" class="select-label">@sharedResource["SelectTreatmentName"]</label>
                    <select id="treatmentNameSelect" class="form-select tretment-select" onchange="updateAppointments('@ViewBag.UserId')">
                        <option value="all">@sharedResource["All"]</option>
                        @foreach (var treatmentName in ViewBag.TreatmentNames)
                        {
                            <option value="@treatmentName">@treatmentName</option>
                        }
                    </select>
                </div>
            </div>

            <div id="calendar" class="calendar-box"></div>

            <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eventModalLabel">@sharedResource["YourAppointment"]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="eventModalContent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
            <script>
                var sharedResource = JSON.parse(`@Html.Raw(ViewBag.SharedResourceTranslations)`);
                var initialLocaleCode = '@Html.Raw(ViewBag.language)';
                var list = sharedResource.find(function (item) {
                    return item.Name === 'WeeklyList';
                })
                if (list) {
                    var weeklylist = list.Value;
                } else {
                    console.log('Nie znaleziono wartości dla wybranej nazwy.' + value);
                }
                var allEvents = [];
                var calendar;
                document.addEventListener('DOMContentLoaded', function () {
                    updateWorkingHours();
                    initializeCalendar();
                    updateAppointments('@ViewBag.UserId');
                });
                function initializeCalendar() {
                    var calendarEl = document.getElementById('calendar');
                    calendar = new FullCalendar.Calendar(calendarEl, {
                        initialView: 'timeGridWeek',
                        headerToolbar: {
                            left: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
                            center: 'title',
                            right: 'today prev,next'
                        },
                        buttonText: {
                            listWeek: weeklylist,
                        },
                        locale: initialLocaleCode,
                        slotMinTime: "06:00",
                        slotMaxTime: "24:00",
                        firstDay: 1,
                        events: allEvents,
                        eventClick: function (info) {
                            // Wywołaj funkcję do obsługi kliknięcia na event
                            handleEventClick(info.event);
                        }
                    });
                    calendar.render();
                }
                function handleEventClick(event) {
                    handleSingleEventClick(event);

                }
                function handleSingleEventClick(event) {
                    var id = event.id;
                    var title = event.title;
                    var startTime = new Date(event.start);
                    var endTime = new Date(event.end);
                    var employee = event.extendedProps.employee;
                    var user = event.extendedProps.user;
                    var treatmentId = event.treatmentId;
                    var employeeId = '@ViewBag.UserId';
                    var cost = event.extendedProps.cost;
                    var numberUsers = event.extendedProps.numberUsers;
                    var startTimeFormatted = startTime.toLocaleString('pl-PL', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });

                    var endTimeFormatted = endTime.toLocaleTimeString('pl-PL', { hour: '2-digit', minute: '2-digit' });

                    var dayWH = startTime.toLocaleString('pl-PL', {
                        year: 'numeric', month: '2-digit', day: '2-digit'
                    });
                    var startWH = startTime.toLocaleString('pl-PL', { hour: '2-digit', minute: '2-digit' });

                    startTime.setMinutes(startTime.getMinutes() - startTime.getTimezoneOffset());
                    endTime.setMinutes(endTime.getMinutes() - endTime.getTimezoneOffset());
                    var formattedStartTime = startTime.toISOString().slice(0, 16);
                    var formattedEndTime = endTime.toISOString().slice(0, 16);

                    var content = "";
                    var resource = sharedResource.find(function (item) {
                        return item.Name === 'WorkingHours';
                    })

                    if (resource) {
                        var workingHoursText = resource.Value;
                    } else {
                        console.log('Nie znaleziono wartości dla wybranej nazwy.' + value);
                    }

                    if (title === workingHoursText) {
                        content = `
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <div class="form-group">
                                                     <label class="control-label">@sharedResource["Date"]</label>
                                                     <input type="text" class="form-control" value="${dayWH}" disabled/>
                                                  </div>
                                                  <div class="form-group">
                                                     <label class="control-label">@sharedResource["WorkingTimeStats"]</label>
                                                     <input type="text" class="form-control" value="${startWH}-${endTimeFormatted}" disabled/>
                                                  </div>
                                                    <button class="button btn-info d-flex justify-content-center" onclick="window.location.href='/WorkingHours/EditMerged?userId=${employeeId}&startWH=${formattedStartTime}&endWH=${formattedEndTime}'" class="btn btn-primary">@sharedResource["Details"]</button>
                                                </div>

                                             </div>
                                        `;
                    }
                    else if (numberUsers != null) {
                        content = `
                                                                                                <div class="carousel-inner">
                                                                                                 <div class="carousel-item active">
                                                                                                      <div class="form-group">
                                                                                                            <label class="control-label">@sharedResource["Training"]</label>
                                                                                                    <input type="text" class="form-control" value="${title}" disabled />
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                                    <label class="control-label">@sharedResource["TrainingDate"]</label>
                                                                                                    <input type="text" class="form-control" value="${startTimeFormatted}-${endTimeFormatted}" disabled />
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label">@sharedResource["Cost"]</label>
                                                                                                    <input type="text" class="form-control" value="${cost} euro" disabled />
                                                                                                </div>
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label">@sharedResource["Employee"]</label>
                                                                                                    <input type="text" class="form-control" value="${employee}" disabled />
                                                                                                </div>
                                                                                                        <div class="form-group">
                                                                                                            <label class="control-label">@sharedResource["ParticipantsList"]</label>
                                                                                                                            <input type="text" class="form-control" value="${numberUsers}" disabled />
                                                                                                        </div>
                                                                                                                       <button class="button btn-info d-flex justify-content-center" onclick="window.location.href='/Trainings/Details?id=${id}'" class="btn btn-primary">@sharedResource["Details"]</button>
                                                                                                                                                </div>

                                                                                                                                             </div>
                                                                                                                                        `;
                    }
                    else {
                        content = `
                                                    <div class="carousel-inner">
                                                      <div class="carousel-item active">
                                                         <div class="form-group">
                                                           <label class="control-label">@sharedResource["Appointment"]</label>
                                                           <input type="text" class="form-control" value="${title}" disabled />
                                                         </div>
                                                         <div class="form-group">
                                                           <label class="control-label">@sharedResource["DateTreatment"]</label>
                                                           <input type="text" class="form-control" value="${startTimeFormatted}-${endTimeFormatted}" disabled />
                                                         </div>
                                                         <div class="form-group">
                                                          <label class="control-label">@sharedResource["Cost"]</label>
                                                          <input type="text" class="form-control" value="${cost} euro" disabled />
                                                         </div>
                                                         <div class="form-group">
                                                          <label class="control-label">@sharedResource["Employee"]</label>
                                                          <input type="text" class="form-control" value="${employee}" disabled />
                                                         </div>
                                                             <div class="form-group">
                                                              <label class="control-label">@sharedResource["Client"]</label>
                                                              <input type="text" class="form-control" value="${user}" disabled />
                                                             </div>
                                                                                             <button class="button btn-info d-flex justify-content-center" onclick="window.location.href='/Appointments/Details?id=${id}'" class="btn btn-primary">@sharedResource["Details"]</button>
                                                      </div>

                                                    </div>
                                                                                    `;
                    }
                    document.getElementById('eventModalContent').innerHTML = content;
                    var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
                    eventModal.show();
                }

                function updateWorkingHours() {
                    var workingHours = @Html.Raw(Json.Serialize(Model));
                    var resource = sharedResource.find(function (item) {
                        return item.Name === 'WorkingHours';
                    });
                    if (resource) {
                        var valueResource = resource.Value;
                    } else {
                        console.log('Nie znaleziono wartości dla wybranej nazwy.' + value);
                    }
                    for (var i = 0; i < workingHours.length; i++) {
                        var start = moment(workingHours[i].startDate).format();
                        var end = moment(workingHours[i].endDate).format();
                        var backgroundColor = workingHours[i].userBackgroundColor;
                        allEvents.push({
                            title: valueResource,
                            start: start,
                            end: end,
                            backgroundColor: backgroundColor
                        });
                    }
                }

                function updateAppointments(userId) {
                    var selectedTreatmentType = document.getElementById('treatmentTypeSelect').value;
                    var selectedTreatmentName = document.getElementById('treatmentNameSelect').value;
                    $.ajax({
                        type: 'GET',
                        url: '/EmployeeInAdmin/GetAppointmentsForCalendar',
                        data: {
                            selectedTreatmentType: selectedTreatmentType,
                            selectedTreatmentName: selectedTreatmentName,
                            userId: userId
                        },
                        dataType: 'json',
                        success: function (data) {
                            // Wyczyść tablicę allEvents
                            allEvents = [];
                            updateWorkingHours(); // Ponownie uzupełnij godziny pracy
                            var appointments = data.events;
                            allEvents = allEvents.concat(appointments); // Dodaj appointments

                            // Usuń poprzednie wydarzenia z kalendarza
                            calendar.getEvents().forEach(function (event) {
                                event.remove();
                            });

                            // Dodaj nowe wydarzenia do kalendarza
                            calendar.addEventSource(allEvents);

                            var treatmentTypes = data.treatmentTypes;
                            var treatmentNames = data.treatmentNames;

                            var treatmentTypeSelect = $('#treatmentTypeSelect');
                            treatmentTypeSelect.empty();
                            var resource = sharedResource.find(function (item) {
                                return item.Name === 'All';
                            })
                            if (resource) {
                                var allText = resource.Value;
                            } else {
                                console.log('Nie znaleziono wartości dla wybranej nazwy.' + value);
                            }
                            treatmentTypeSelect.append($('<option value="all">' + allText + '</option>'));
                            $.each(treatmentTypes, function (index, value) {
                                var resource = sharedResource.find(function (item) {
                                    return item.Name === value;
                                })
                                if (resource) {
                                    var valueResource = resource.Value;
                                } else {
                                    console.log('Nie znaleziono wartości dla wybranej nazwy.' + value);
                                }
                                treatmentTypeSelect.append($('<option value="' + value + '">' + valueResource + '</option>'));
                            });
                            treatmentTypeSelect.val(selectedTreatmentType);

                            var treatmentNameSelect = $('#treatmentNameSelect');
                            treatmentNameSelect.empty();
                            treatmentNameSelect.append($('<option value="all">' + allText + '</option>'));
                            $.each(treatmentNames, function (index, value) {
                                var resource = sharedResource.find(function (item) {
                                    return item.Name === value;
                                });
                                if (resource) {
                                    var valueResource = resource.Value;
                                } else {
                                    console.log('Nie znaleziono wartości dla wybranej nazwy.' + value);
                                }
                                treatmentNameSelect.append($('<option value="' + value + '">' + valueResource + '</option>'));
                            });
                            treatmentNameSelect.val(selectedTreatmentName);
                        },

                        error: function (error) {
                            console.error('Błąd podczas odświeżania kalendarza:', error);
                        }
                    });
                }
            </script>
        </div>
    </div>
</main>