<main class="main-site-container mt-3">
    <div class="row text-we-are-container">
        <a class="text-we-are">
            @sharedResource["AboutUsText"]
        </a>
    </div>
    <div class="row mt-5 employee-container mt-3">
        <div class="col-md-7 employee-img-container" style="background-position: top; background-image:url('/FrontImages/Magda_Brulinska.jpg')">
            
        </div>
        <div class="col-md-5 employee-info-container">
            <div class="position-text-container">
                <a class="position-text">@sharedResource["SalonOwner"]</a>

            </div>
            <div class="name-text-container mt-2">
                <a class="name-text">Magdalena Brulińska</a>
            </div>
            <div class="motto-container mt-3">
                <a class="motto-text">
                    @sharedResource["SalonOwnerText"]
                </a>
            </div>
            
            <div class="socialmedia-container mt-5">
                <button class="socialmedia-button">
                    <div class="socialmedia">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <g clip-path="url(#clip0_157_3403)">
                                <path d="M35.4922 18C35.4922 8.33501 27.6572 0.5 17.9922 0.5C8.32726 0.5 0.492249 8.33501 0.492249 18C0.492249 26.7346 6.89171 33.9746 15.2579 35.2874V23.0586H10.8145V18H15.2579V14.1445C15.2579 9.75859 17.8706 7.33594 21.8679 7.33594C23.7819 7.33594 25.7852 7.67773 25.7852 7.67773V11.9844H23.5786C21.4048 11.9844 20.7266 13.3334 20.7266 14.7188V18H25.5801L24.8043 23.0586H20.7266V35.2874C29.0928 33.9746 35.4922 26.7346 35.4922 18Z" fill="#1877F2" />
                                <path d="M24.8043 23.0586L25.5801 18H20.7266V14.7188C20.7266 13.3348 21.4047 11.9844 23.5786 11.9844H25.7852V7.67773C25.7852 7.67773 23.7826 7.33594 21.8679 7.33594C17.8706 7.33594 15.2579 9.75859 15.2579 14.1445V18H10.8145V23.0586H15.2579V35.2874C17.0698 35.5709 18.9147 35.5709 20.7266 35.2874V23.0586H24.8043Z" fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_157_3403">
                                    <rect width="35" height="35" fill="white" transform="translate(0.492249 0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </button>

                <div class="socialmedia-name-text">
                    <a class="socialmedia-name">Magdalena Brulińska</a>
                </div>
            </div>
            <div class="socialmedia-container mt-5">
                <button class="socialmedia-button">
                    <div class="socialmedia">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <path d="M17.9923 3.65137C22.668 3.65137 23.2217 3.67187 25.0606 3.75391C26.7696 3.8291 27.6924 4.11621 28.3077 4.35547C29.1212 4.66992 29.709 5.05273 30.3174 5.66113C30.9327 6.27637 31.3087 6.85742 31.6231 7.6709C31.8624 8.28613 32.1495 9.21582 32.2247 10.918C32.3067 12.7637 32.3272 13.3174 32.3272 17.9863C32.3272 22.6621 32.3067 23.2158 32.2247 25.0547C32.1495 26.7637 31.8624 27.6865 31.6231 28.3018C31.3087 29.1152 30.9258 29.7031 30.3174 30.3115C29.7022 30.9268 29.1212 31.3027 28.3077 31.6172C27.6924 31.8564 26.7628 32.1436 25.0606 32.2188C23.2149 32.3008 22.6612 32.3213 17.9923 32.3213C13.3165 32.3213 12.7628 32.3008 10.9239 32.2188C9.21491 32.1436 8.29205 31.8564 7.67682 31.6172C6.86334 31.3027 6.27545 30.9199 5.66705 30.3115C5.05182 29.6963 4.67584 29.1152 4.36139 28.3018C4.12213 27.6865 3.83502 26.7568 3.75983 25.0547C3.6778 23.209 3.65729 22.6553 3.65729 17.9863C3.65729 13.3105 3.6778 12.7568 3.75983 10.918C3.83502 9.20898 4.12213 8.28613 4.36139 7.6709C4.67584 6.85742 5.05866 6.26953 5.66705 5.66113C6.28229 5.0459 6.86334 4.66992 7.67682 4.35547C8.29205 4.11621 9.22174 3.8291 10.9239 3.75391C12.7628 3.67187 13.3165 3.65137 17.9923 3.65137ZM17.9923 0.5C13.2413 0.5 12.6465 0.520508 10.7803 0.602539C8.92096 0.68457 7.64264 0.985351 6.53522 1.41602C5.37994 1.86719 4.40241 2.46191 3.4317 3.43945C2.45416 4.41016 1.85944 5.3877 1.40826 6.53613C0.9776 7.65039 0.676819 8.92187 0.594788 10.7812C0.512756 12.6543 0.492249 13.249 0.492249 18C0.492249 22.751 0.512756 23.3457 0.594788 25.2119C0.676819 27.0713 0.9776 28.3496 1.40826 29.457C1.85944 30.6123 2.45416 31.5898 3.4317 32.5605C4.40241 33.5313 5.37994 34.1328 6.52838 34.5771C7.64264 35.0078 8.91412 35.3086 10.7735 35.3906C12.6397 35.4727 13.2344 35.4932 17.9854 35.4932C22.7364 35.4932 23.3311 35.4727 25.1973 35.3906C27.0567 35.3086 28.335 35.0078 29.4424 34.5771C30.5909 34.1328 31.5684 33.5313 32.5391 32.5605C33.5098 31.5898 34.1114 30.6123 34.5557 29.4639C34.9864 28.3496 35.2872 27.0781 35.3692 25.2188C35.4512 23.3525 35.4717 22.7578 35.4717 18.0068C35.4717 13.2559 35.4512 12.6611 35.3692 10.7949C35.2872 8.93555 34.9864 7.65723 34.5557 6.5498C34.1251 5.3877 33.5303 4.41016 32.5528 3.43945C31.5821 2.46875 30.6046 1.86719 29.4561 1.42285C28.3419 0.992187 27.0704 0.691406 25.211 0.609375C23.338 0.520508 22.7432 0.5 17.9923 0.5Z" fill="#9E7777" />
                            <path d="M17.9922 9.01074C13.0294 9.01074 9.00299 13.0371 9.00299 18C9.00299 22.9629 13.0294 26.9893 17.9922 26.9893C22.9551 26.9893 26.9815 22.9629 26.9815 18C26.9815 13.0371 22.9551 9.01074 17.9922 9.01074ZM17.9922 23.8311C14.7725 23.8311 12.1612 21.2197 12.1612 18C12.1612 14.7803 14.7725 12.1689 17.9922 12.1689C21.212 12.1689 23.8233 14.7803 23.8233 18C23.8233 21.2197 21.212 23.8311 17.9922 23.8311Z" fill="#9E7777" />
                            <path d="M29.4356 8.65528C29.4356 9.81739 28.4922 10.7539 27.337 10.7539C26.1749 10.7539 25.2383 9.81055 25.2383 8.65528C25.2383 7.49317 26.1817 6.55664 27.337 6.55664C28.4922 6.55664 29.4356 7.5 29.4356 8.65528Z" fill="#9E7777" />
                        </svg>
                    </div>
                </button>
                <div class="socialmedia-name-text">
                    <a class="socialmedia-name">magdalena_brulinska_pmu</a>
                </div>
            </div>
            <div class="socialmedia-icons-container mt-5">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-5 meetourexpert-container">
        <a class="meetourexpert-text">@sharedResource["MeetOurTeam"]</a>
    </div>
    <div class="row our-employees-container">
        <a class="our-employees-text">@sharedResource["AmazingWomen"]</a>
    </div>
    <div class="row employees-container">
        <div class="one-employee-container col-4 p-5">
            <div class="row one-employee-img" style="background-image:url('/FrontImages/Magdalena_Ogarek.jpg'); background-position: top;">
            </div>
            <div class="row name-employee-container mt-4">
                <a class="name-text">Magdalena Ogarek</a>
            </div>
            <div class="row position-container mt-1">
                <a class="position-text">@sharedResource["MagdalenaOgarekPosition"]</a>
            </div>
            <div class="row motto-container mt-2">
                <a class="motto-text">@sharedResource["MagdalenaOgarekText"]</a>
            </div>

            <div class="socialmedia-icons-container mt-4">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="one-employee-container col-4 p-5" >
            <div class="row one-employee-img" style="background-image:url('/FrontImages/emilia_jastrzębska.jpg')">
            </div>
            <div class="row name-employee-container mt-4">
                <a class="name-text">Emilia Jastrzębska</a>
            </div>
            <div class="row position-container mt-1">
                <a class="position-text">@sharedResource["EmilkaPosition"]</a>
            </div>
            <div class="row motto-container mt-2">
                <a class="motto-text">@sharedResource["EmilkaText"]</a>
            </div>

            <div class="socialmedia-icons-container mt-4">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="one-employee-container col-4 p-5">
            <div class="row one-employee-img" style="background-image:url('/FrontImages/anna_niewińska.jpg'); background-size:cover; background-position:top;">
            </div>
            <div class="row name-employee-container mt-4">
                <a class="name-text">Anna Niewińska</a>
            </div>
            <div class="row position-container mt-1">
                <a class="position-text">@sharedResource["AniaPosition"]</a>
            </div>
            <div class="row motto-container mt-2">
                <a class="motto-text">@sharedResource["AniaText"]</a>
            </div>

            <div class="socialmedia-icons-container mt-4">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="one-employee-container col-4 p-5">
            <div class="row one-employee-img" style="background-image:url('/FrontImages/sylwia_przetak.jpg'); background-size:100%;">
            </div>
            <div class="row name-employee-container mt-4">
                <a class="name-text">Sylwia Przetak</a>
            </div>
            <div class="row position-container mt-1">
                <a class="position-text">@sharedResource["Skin"]</a>
            </div>
            <div class="row motto-container mt-2">
                <a class="motto-text">@sharedResource["SylwiaText"]</a>
            </div>

            <div class="socialmedia-icons-container mt-4">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="one-employee-container col-4 p-5">
            <div class="row one-employee-img" style="background-image:url('/FrontImages/ada_cekin_photo.png')">
            </div>
            <div class="row name-employee-container mt-4">
                <a class="name-text">Ada Cekin</a>
            </div>
            <div class="row position-container mt-1">
                <a class="position-text">@sharedResource["AdaPosition"]</a>
            </div>
            <div class="row motto-container mt-2">
                <a class="motto-text">@sharedResource["AdaText"]</a>
            </div>

            <div class="socialmedia-icons-container mt-4">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="one-employee-container col-4 p-5">
            <div class="row one-employee-img" style="background-image:url('/FrontImages/Katarzyna_Malinowska.jpg')">
            </div>
            <div class="row name-employee-container mt-4">
                <a class="name-text">Katarzyna Malinowska</a>
            </div>
            <div class="row position-container mt-1">
                <a class="position-text">@sharedResource["Skin"]</a>
            </div>
            <div class="row motto-container mt-2">
                <a class="motto-text">@sharedResource["KatarzynaText"]</a>
            </div>

            <div class="socialmedia-icons-container mt-4">
                <a class="icon" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.211 9L8.6485 6.125H5.86725V4.25C5.86725 3.4375 6.24225 2.6875 7.49225 2.6875H8.7735V0.21875C8.7735 0.21875 7.61725 0 6.5235 0C4.24225 0 2.74225 1.40625 2.74225 3.90625V6.125H0.179749V9H2.74225V16H5.86725V9H8.211Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.836 3.75C15.461 3.28125 16.0235 2.71875 16.461 2.0625C15.8985 2.3125 15.2422 2.5 14.586 2.5625C15.2735 2.15625 15.7735 1.53125 16.0235 0.75C15.3985 1.125 14.6797 1.40625 13.961 1.5625C13.336 0.90625 12.4922 0.53125 11.5547 0.53125C9.74225 0.53125 8.2735 2 8.2735 3.8125C8.2735 4.0625 8.30475 4.3125 8.36725 4.5625C5.6485 4.40625 3.211 3.09375 1.586 1.125C1.30475 1.59375 1.1485 2.15625 1.1485 2.78125C1.1485 3.90625 1.711 4.90625 2.61725 5.5C2.086 5.46875 1.55475 5.34375 1.11725 5.09375V5.125C1.11725 6.71875 2.24225 8.03125 3.74225 8.34375C3.49225 8.40625 3.17975 8.46875 2.8985 8.46875C2.67975 8.46875 2.49225 8.4375 2.2735 8.40625C2.67975 9.71875 3.8985 10.6562 5.336 10.6875C4.211 11.5625 2.80475 12.0938 1.2735 12.0938C0.992249 12.0938 0.742249 12.0625 0.492249 12.0312C1.92975 12.9688 3.6485 13.5 5.5235 13.5C11.5547 13.5 14.836 8.53125 14.836 4.1875C14.836 4.03125 14.836 3.90625 14.836 3.75Z" fill="#141414" />
                    </svg>
                </a>
                <a class="icon" href="#">
                    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.61725 14V4.65625H0.710999V14H3.61725ZM2.1485 3.40625C3.086 3.40625 3.836 2.625 3.836 1.6875C3.836 0.78125 3.086 0.03125 2.1485 0.03125C1.24225 0.03125 0.492249 0.78125 0.492249 1.6875C0.492249 2.625 1.24225 3.40625 2.1485 3.40625ZM14.461 14H14.4922V8.875C14.4922 6.375 13.9297 4.4375 10.9922 4.4375C9.586 4.4375 8.6485 5.21875 8.24225 5.9375H8.211V4.65625H5.42975V14H8.336V9.375C8.336 8.15625 8.55475 7 10.0547 7C11.5547 7 11.586 8.375 11.586 9.46875V14H14.461Z" fill="#141414" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</main>