@model Engineer_MVC.Models.Appointment

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="row">
    <form asp-action="Create" class="create-post gap-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="single-box">
            <label asp-for="Date" class="title-label">@sharedResource["DateTreatment"]</label>
            <input asp-for="Date" class="title-input" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="single-box">
            <label class="title-label">@sharedResource["Duration"]</label>
            <input asp-for="Duration" class="title-input" value="@ViewData["AverageTime"]" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="single-box">
            <label class="title-label">@sharedResource["Cost"]</label>
            <input asp-for="Price" class="title-input" value="@ViewData["AverageCost"]" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="single-box">
            <label class="title-label">@sharedResource["Status"]</label>
            <select asp-for="Status" class="select-container">
                <option value="To Do">@sharedResource["ToDo"]</option>
                <option value="Done">@sharedResource["Done"]</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="single-box">
            <label class="form-check-label">
                <input class="form-check-box" asp-for="IsLimited" /> @sharedResource["LimitedTreatment"]
            </label>
        </div>
        <div class="single-box">
            <label class="title-label">@sharedResource["Treatment"]</label>
            <select asp-for="TreatmentId" class="select-container" asp-items="ViewBag.TreatmentId" onchange="updateEmployees()"></select>
            <span asp-validation-for="TreatmentId" class="text-danger"></span>
        </div>

        <div class="single-box">
            <label class="title-label">@sharedResource["Employee"]</label>
            <select asp-for="EmployeeId" class="select-container" asp-items="ViewBag.EmployeeId"></select>
        </div>
        <div class="single-box">
            <label class="title-label">@sharedResource["Client"]</label>
            <select asp-for="UserId" class="select-container" asp-items="ViewBag.UserId"></select>
        </div>
        <div class="single-box">
            <input type="submit" value=@sharedResource["Create"] class="create-button" />
        </div>
    </form>
</div>

<script>
    function updateEmployees() {
        var selectedTreatmentId = document.getElementById("TreatmentId").value;

        $.ajax({
            url: `/Appointments/GetEmployeesByTreatment?treatmentId=${selectedTreatmentId}`,
            type: "GET",
            success: function (data) {
                var employeeDropdown = document.getElementById("EmployeeId");
                while (employeeDropdown.firstChild) {
                    employeeDropdown.removeChild(employeeDropdown.firstChild);
                }
                data.employeesWithTreatment.forEach(function (employee) {
                    var option = document.createElement("option");
                    option.value = employee.id;
                    option.textContent = employee.fullName;
                    employeeDropdown.appendChild(option);
                });
                var averageTime = parseFloat(data.averageTime);
                var averageCost = parseFloat(data.averageCost);

                if (!isNaN(averageTime)) {
                    $("#Duration").val(averageTime);
                }

                if (!isNaN(averageCost)) {
                    $("#Price").val(averageCost);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        updateEmployees();
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
