@model IEnumerable<Engineer_MVC.Models.Post>
<head>


</head>
<body>
    <div class="row posts-container m-4" id="posts-view">
        @foreach (var post in Model.Take(9))
        {
            <div class=" col-md-4 p-4">

                <div class="post-card">
                    <a asp-action="SinglePost" asp-route-id="@post.Id" style="text-decoration:unset">
                        <div class="card-image" style="background-image: url('@Url.Content("~/PostImages/" + post.ImagePath)')">
                        </div>
                        <div class="card-content">

                            <div class="content-date">
                                @post.date
                            </div>
                            <div class="content-title">
                                @post.Title
                            </div>
                            <div class="content-text">
                                @if (!string.IsNullOrEmpty(post.Body))
                                {
                                    @Html.Raw(GetShortenedText(post.Body, 40))
                                }
                            </div>

                            @functions {
                            public string GetShortenedText(string text, int maxLength)
                            {
                                // Remove HTML tags
                                var plainText = System.Text.RegularExpressions.Regex.Replace(text, "<.*?>", string.Empty);

                                if (plainText.Length > maxLength)
                                {
                                    return plainText.Substring(0, maxLength) + "...";
                                }
                                else
                                {
                                    return plainText;
                                }
                            }
                        }
                    </div>
                </a>
            </div>
        </div>

        }
        @Html.Partial("_PostsPartial", new List<Post>())
    </div>
    <div class="button-container mt-4">
        <button id="load-more-button" class="button btn btn-info">@sharedResource["LoadMorePosts"]</button>
    </div>
</body>
<script>
    let skip = 9; // Inicjalna wartość skip

    document.getElementById('load-more-button').addEventListener('click', function () {
        loadPosts(skip);
    });

    function loadPosts(skip) {

        $.ajax({
            url: '/Posts/LoadPosts',
            type: 'GET',
            data: { skip: skip },
            success: function (data) {

                $('#posts-view').append(data);
                skip += 6;

                skipPosts(skip);
            }
        });
    }
    function skipPosts(updatedSkip) {
        skip = updatedSkip;
    }
</script>